.calculator{
    background-color: #E6E1DA;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    width: 400px;
    border-radius: 6px;
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.5), 0 40px 50px -15px rgba(0, 0, 0, 0.2), inset 0 -2px 8px 1px rgba(204, 194, 181, 1), 0px 2px 1px 0px rgba(255,255,255,0.8) inset;
}

.calculator-screen{
    font-family: 'VT323', monospace;
    width: 90%;
    height: 75px;
    background-color: #c6c5ad ;
    color: rgba(0, 0, 0, 0.7);
    text-align: right;
    text-shadow: 0 4px rgba(0, 0, 0, 0.1);
    font-size: 36px;
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 15px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), inset 0 2px 12px 0 rgba(0, 0, 0, 0.4), 0 0 0 2px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.calculator-keys{
    width: 90%;
    padding: 15px 15px;
    margin: 15px auto;
}

.row{
    display: flex;
}

button{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block;
    height: 70px;
    background: #efebe5;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    font-size: 32px;
    text-shadow: 0 1px 0 #ffffff, 0 -1px rgba(0,0,0,0.2);
    color: #6f6243;
    width: 80px;
    outline: none;
    margin: 5px 5px;
    box-shadow: inset 0 1px 0 0 #ffffff, inset 0 -3px 1px 0 rgba(93, 80, 51, 0.3), inset 0 -5px 10px 2px rgba(204, 196, 178, 0.8), inset 0 4px 6px 0 rgba(255,255,255,0.8), 0 -1px 0px 2px #CCC4B2, 0 1px 0px 2px rgba(255,255,255,0.7);
}

button:active {
    box-shadow: none; 
    position: relative;
    display: block;
    top: 1px;
    filter: blur(0.5px);
    overflow: hidden;
    opacity: 0.8;
    box-shadow: inset 0 25px 25px -10px rgba(93, 80, 51, 0.6);
    background: transparent;
}

.all-clear, .zero-btn{
    width: 170px;
}

.all-clear {
    background: #61655B; 
    color: #ffffff;
    text-shadow: 0 1px rgba(255,255,255,0.2), 0 -1px rgba(0,0,0,0.8);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), inset 0 -3px 1px 0 rgba(0,0,0,0.3), inset 0 -5px 10px 2px rgba(0, 0, 0, 0.3), inset 0 4px 6px 0 rgba(255,255,255,0.1), 0 -1px 0px 2px #CCC4B2, 0 1px 0px 2px rgba(255,255,255,0.7);
}

.all-clear:active{
    background: #61655B; 
    color: #ffffff;
    box-shadow: none; 
    position: relative;
    display: block;
    top: 1px;
    filter: blur(0.5px);
    overflow: hidden;
    opacity: 0.9;
    box-shadow: inset 0 25px 25px -10px rgba(36, 31, 18, 0.6);
}

.equal-sign{
    background: #ff2515;
    color: #ffffff;
    text-shadow: 0 1px rgba(255,255,255,0.2), 0 -1px rgba(164,27,21,0.8);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), inset 0 -3px 1px 0 rgba(164,27,21,1), inset 0 -5px 10px 2px rgba(164, 27, 21, 0.5), inset 0 4px 6px 0 rgba(255,255,255,0.1), 0 -1px 0px 2px #CCC4B2, 0 1px 0px 2px rgba(255,255,255,0.7);
}

.equal-sign:active{
    background: #ff2515;
    color: #ffffff;
    box-shadow: none; 
    position: relative;
    display: block;
    top: 1px;
    filter: blur(0.5px);
    overflow: hidden;
    opacity: 0.9;
    box-shadow: inset 0 25px 25px -10px rgba(65, 4, 4, 0.6);
}